<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../Css/resultados.css" rel="stylesheet" type="text/css"/>
    <title>Resultados de la Búsqueda</title>
</head>
<body>
    <div class="container">
        <div class="card" id="resultCard">
            <h5 class="card-title" id="cardTitle"></h5>
            <p class="card-text" id="cardEmail"></p>
            <p class="card-text" id="cardNombre"></p>
            <p class="card-text" id="cardDireccion"></p>
            <p class="card-text" id="cardTelefono"></p>
            <p class="card-text" id="cardFecha"></p>
            <div class="buttons">
                <button class="button" id="updateBtn">Actualizar</button>
                <button class="button button-danger" id="deleteBtn">Borrar</button>
            </div>
        </div>
    </div>
    <script src="../Controllers/resultados.js"></script>
</body>
</html>
